*{
    font-family: 'Noto Sans Nandinagari', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
   
    padding: 12px 4%;
    justify-content: space-between;
  
    cursor: pointer;
}
li {
    text-decoration: none;
    color:  black;
    font-size: 18px;
    font-weight: 700;
    list-style: none;

}
.menu{
    border: 1px solid black;
    
}
.section1{
    
    top: 1400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: 10px 1px;
   
}
.menu li{
    font-weight: 100;
}
.heading1{
    
    height: 550px;
    width: 300px;
    margin-left: 95px;
    padding: 10px;
    

}
h4{
    padding: 11px;
    background-color:#0d6efd ;
    color: white;
    border-radius: 50px;
    font-weight: 600;
    font-size: 20px;
}
h1{
        margin: 30px 0;
    font-weight: 900;
    font-family: 'Noto Sans Nandinagari', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
    
            background: linear-gradient(90deg, #2B7DDD 3.58%, #45CDD6 50.39%, #46B314 98.18%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    font-size: 37px;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    

}
.hero-form{
    position: relative;
    width: 35%;
    padding: 30px;
    margin-top: 3rem;
    background: #ffff;
    border: 1px solid #e6e6e6;
  
}
.form-input> input {
    display: flex;
    flex-direction: row;
}
form{
    box-sizing: border-box;
}
.form-text{
    margin-top: 0.25rem;
    font-size: .875rem;
    color: #6c757d;
}
.form-text>h3{
    font-weight: 600;
    font-size: 17px;
    color: black;
    text-align: center;
}