*{
    font-family: 'Noto Sans Nandinagari', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
margin: 0;
padding: 0;
}
nav{
    display: flex;
    align-items: center;
   
    padding: 12px 4%;
    justify-content: space-between;
  
    cursor: pointer;
}
li {
    text-decoration: none;
    color:  black;
    font-size: 18px;
    font-weight: 700;
    list-style: none;

}
.menu{
    border: 1px solid black;
    
}
.section1{
    
    top: 1400px;
  
    display: flex;
    justify-content: space-between;
    margin: 10px 55px;
   
}
.menu li{
    font-weight: 100;
}
.heading1{
    
    height: 550px;
    width: 45%;
    margin-left: 95px;
    padding: 10px;
    

}
h4{
    padding: 11px;
    background-color:#0d6efd ;
    color: white;
    border-radius: 50px;
    font-weight: 600;
    font-size: 17px;
    width: 37%;

}
.h2{
        margin: 30px 0;
    font-weight: 900;
 
font-family: 'Plus Jakarta Sans', sans-serif;
 background: linear-gradient(90deg, #2B7DDD 3.58%, #45CDD6 50.39%, #46B314 98.18%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
             font-size: 44px;
}
    
           
.h3{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
    

}
.hero-form{
    position: relative;
    width: 26%;
    padding: 30px;
    margin-top: 3rem;
    background: #FFFFFF;
    border: 1px solid #e6e6e6;
  
    border-radius: 25px;
  
}
input  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    align-items: center;
    padding: 10px 50px 10px 50px;
    margin-top: 25px;
   
    
    border: 1px solid grey;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
}
    

.form-text{
    margin-top: 0.25rem;
    font-size: .875rem;
    color: #6c757d;
}
.form-text>h3{
    font-weight: 600;
    font-size: 17px;
    color: black;
    text-align: center;
}
button{
     
   display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    align-items: center;
    padding: 10px 50px 10px 50px;
    margin-top: 25px;
    background: #46B314;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;

}
.form-input{
    margin: 0 10px;
}
.section2{
   
    margin: 10px 100px;
}
.text{
    font-weight: 600;
    font-size: 42px;
    color: black;

}
p{
    width: 60%;
    margin-top: 16px;
    font-size: 20px;
    color: #576575;
}
.whyus{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 115px;
    gap: 1rem;
    
    line-height: 30px;
    height: 250px;

}
.whyus> .box{
    border: 2px solid #2B7DDD;
    border-radius: 10px;
    padding: 30px;
    min-width: 320px;
    height: 200px;
    position: relative;
}
.box h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #576575;
}
.box p{
    font-size: 15px;
    font-weight: 400;
    color: #2e2e2e;
}
.icons{
    position: absolute;
    width: 64px;
    top: -28px;
}
.passion1{
    background-color: #2B7DDD;
    color: white;
    display: flex;
    padding-bottom: 4rem;
    position: relative;

}
.rating{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    margin-top: 3.5rem;
}
.rating >.remo{
    font-weight: 700;
    font-size: 2.5rem;
    color: #e6e6e6;
}

.parent{
    max-width: 1320px;
    display: flex;
    margin: 10px 100px;

}
.rating >.popo{
   margin: 0px 0px 16px;
    font-size: 18px;
    color: white;
    font-family: 'Pacifico', cursive;
font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 10px 25px;
}
.container1{
    margin: 200px 131.1px 100px;
    padding: 0px 12px;
}
.row{
    width: 50%;
}
.form-btn2{
    width: 38%;
    padding: 10px;
}
.heading3{
    padding-bottom: 10px;
    font-size: 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
span{
    color: #0d6efd;
}
.row1{
   font-size: 20px;
   color: #576575;
}
.heading4{
    display: flex;
}
.icons3{
    width: 100%;
    vertical-align: middle;
    height: 130%;
}
.row2{
    width: 60%;
}